ion-toolbar{
    --background: #1c2938 !important;

    .justify-content-center{
        align-items: center;

        strong{
            position: absolute;
            right: 13%;
        }
    }
}